<main v-if="project">
  <section class="hero">
    <div class="container">
      <router-link to="/">
        <span class="back-button"><i class="fas fa-arrow-left"></i> Back</span>
      </router-link>
      <h1>{{ project.name }}</h1>
    </div>
  </section>
  <section class="description">
    <div class="container">
      <p v-html="project.description"></p>
      <div class="buttons">
        <a
          class="btn btn-primary"
          v-for="(btn, x) in project.buttons"
          v-bind:href="btn.url"
          target="_blank"
          v-bind:key="x"
        >
          {{ btn.title }}
        </a>
        <button v-if="project.video"
          v-on:click="videoToggle"
          class="btn btn-primary">
          Video
        </button>
      </div>
      <div class='row' v-if="videoOpen">
        <iframe width="560" height="315" v-bind:src="videoURL()" frameborder="0" class="youtube"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="row gallery">
        <div
          class="col-12 col-md-4 gallery-item"
          v-for="(i, x) in project.images"
          v-bind:key="x"
        >
          <img v-bind:src="i.s" v-on:click="lightbox(i)" />
        </div>
      </div>
    </div>
  </section>
</main>
